@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");

$blue: #00a7bd;
$darkblue: #0b6f78;
$yellow: #fed000;
$grey: #e7e7e7;
$darkgrey: #707070;
$white: #fff;
$black: #1d1d1b;
$gradient: linear-gradient(
  to right,
  #0b6f78,
  #097d88,
  #068b99,
  #0399ab,
  #00a7bd
);

$shadow: 0 3px 6px rgba(0, 0, 0, 0.4);
$border: 10px;

@import "bootstrap/scss/bootstrap.scss";
@import "bootstrap-vue/src/index.scss";

.navbar {
  z-index: 99;
  background-color: $darkblue;
}
body {
  font-family: "Open+Sans", sans-serif;
  font-weight: 400;
  line-height: 1.2em;
  font-size: 15px;
}

b {
  font-weight: 700;
}

header {
  background-color: $blue;
  color: $white;
  padding-top: 20px;
  padding-bottom: 64px;
}
main {
  margin-top: -45px;
  border-top-left-radius: 25px;
  background-color: $white;
  min-height: 100px;
  padding-top: 20px;
}

.card {
  border-radius: $border;
  overflow: hidden;
  box-shadow: $shadow !important;
}

.card-header {
  background-color: $darkblue;
  color: $white;
  text-align: center;
  padding: 0.3em 1em;
  font-weight: 700;
}
.card-body {
  padding: 0.7em;
}

.input-underlined {
  input {
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: $black;
    border-radius: 0 !important;
  }
  .input-group-prepend,
  .input-group-text {
    background-color: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    border-color: $black;
    border-radius: 0 !important;
    padding: 0 !important;
    font-weight: 700;
  }
}
.v-switch-button {
  width: 30px !important;
  height: 30px !important;
}

.vue-js-switch .v-switch-core .v-switch-button {
  top: 2px !important;
  left: 2px !important;

}

.btn {
  padding: 0.8em 0.5em;
}

.btn-primary {
  color: $white;
  background-color: $blue;
  border-color: $blue;
}

.btn-primary:hover {
  color: $white;
  background-color: $darkblue;
  border-color: $darkblue;
}

.btn-accent {
  color: $black;
  background-color: $yellow;
  border-color: $yellow;
}

.btn-accent:hover {
}

.btn-secondary {
  color: $black;
  background-color: $grey;
  border-color: $grey;
}

.btn-secondary:hover {
  color: $white;
  background-color: $black;
  border-color: $black;
}

.bg-light {
  background-color: $grey !important;
}

.hide-scrollbar,
html,
body {
  /*FireFox*/
  scrollbar-width: none;
  /*IE10+*/
  -ms-overflow-style: -ms-autohiding-scrollbar;
}
.hide-scrollbar::-webkit-scrollbar,
body::-webkit-scrollbar {
  /*Chrome, Safari, Edge*/
  display: none;
}
